<div id="joinus">

    <div>
        <div id="headerSlider" class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" >
                    <img src='images/banner1.jpg'>
                </div>
                <div class="swiper-slide" >
                    <img src='images/banner2.jpg'>
                </div>
                <div class="swiper-slide" >
                    <img src='images/banner3.jpg'>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="ocupation">
        <ul class="joinus-ul">
            <li>
                <div class="dt">1.产品经理<a ng-click="show123(0)"><span class="down">></span></a></div>
                <div class="dd" style="display: none">
                    <pre>岗位职责：
1、深入互联网金融行业，规划网站产品线发展战略；
2、负责网站产品用户调研，需求分析，竞品分析；
3、负责网站产品原型设计，撰写产品需求文档；
4、协调设计、开发、测试团队，管理项目进度，推动项目上线；
5、收集、分析运营数据，调整产品策略，推动产品运营推广。

任职要求：
1、本科以及本科以上学历，拥有3年以上的产品经理经验，熟练原型图、产品交互、BRD、MRD、PRD制作；
2、熟练掌握Axure PR、MindJet MindManager、Visio等原型工具，会一定程度的设计；
3、善于分析挖掘和整理用户需求，注重用户体验，思路清晰，有大局意识；
4、热爱互联网，充满创业激情，理想远大，为人正真，富于人格魅力，自学能力强，能自我管理，能够协调团队的协作保质保量的完成项目；
5、热爱运动，活力，真诚，有责任感，具备团队合作精神，思想开放。</pre>
                </div>
            </li>
            <li>
                <div class="dt">2.UI设计师<a ng-click="show123(1)"><span class="down">></span></a></div>
                <div class="dd" style="display: none"><pre>岗位职责：
1、参与产品前期界面视觉用户研究、设计流行趋势分析；
2、配合产品、负责公司所有产品线的视觉设计，包括Web、iOS、Android、Windows/Mac客户端；
3、在专业化领域提出具备差异化以及优势的设计方案；
4、对GUI设计趋势有灵敏触觉和领悟能力，能够分享并推动团队的设计。

岗位要求：
1、本科以及本科以上学历，从事UI设计行业工作3年以上（天才少年不受此限）经验，具有APP UI设计经验，有成熟的商业作品；
2、精通Photoshop、Illustartor、Fireworks、CorelDRAW、手绘等设计工具, 对HTML+CSS有基本的了解；
3、美术、设计或相关专业毕业(优先)，要有全球最优秀的互联网产品的设计品味；
4、具备良好合作态度及团队精神，并富有工作激情、创造力和责任感，能承受高强度的工作压力；
5、坚持以用户为中心的设计，能够做到用户体验与设计的良好结合。</pre></div>
            </li>
            <li>
                <div class="dt">3.产品运营<a ng-click="show123(2)"><span class="down">></span></a></div>
                <div class="dd" style="display: none"><pre>岗位职责：
1、利用各种互联网资源发布、维护店铺广告信息，提高网店流量；
2、对日常运营数据进行分析，制定不同阶段的目标和执行方案，执行公司活动策划案及运营方案；
3、策划线上活动，促进平台用户的增长和活跃度，喜欢逛论坛，刷微博，追韩剧，时而段子手，时而严肃狗，加分；
4、 收集用户反馈，分析用户行为及需求，对产品进行持续的优化和改进 整理每日、每月的数据；
5、负责根据市场、客户和用户的需求，规划设计新产品或对现有产品进行持续优化，握公司微信微博整体运营，监督和控制执行情况；
承担微信公众号文章编辑；会用微信后台和排版软件的基本功能，发掘潜在用户，根据已有（潜在）用户群扩展更多社群。

岗位要求：
1、本科以及本科以上学历，3年以上运营商业务部门或互联网公司工作经验，SEO熟练使用；
2、熟悉产品运营相关方法和流程；
3、熟练使用办公自动化工具；
4、良好的沟通协调能力；
5、敏锐的市场洞察能力，正直诚实，较强的用户意识及团队合作精神。</pre></div>
            </li>
            <li>
                <div class="dt">4.PHP工程师<a ng-click="show123(3)"><span class="down">></span></a></div>
                <div class="dd" style="display: none"><pre>岗位职责：
1、参与系统框架和核心模块的开发并维护；
2、根据业务部需求，进行新产品开发；
3、根据公司技术文档规范编写相应的技术文档；
4、参与产品测试方案的规划，负责系统测试，集成测试；
5、带领技术团队，为团队培训技术骨干；

岗位要求：
1、本科以及本科以上学历，有3年以上实际PHP+MYSQL开发经验；
2、对OOP，MVC 有较为深入的认识、能熟练使用常用的设计模式；
3、熟悉至少一种主流的PHP 框架（如：Laravel、Yii、CodeIgniter、ThinkPHP、ZendFramework）；
4、熟练使用css,htmlml/xml等网页技术，熟悉Ajax、JavaScript等客户端脚本语言；
5、熟悉Linux操作系统，熟悉Apache或Nginx，熟悉MySql数据库并有高效的SQL语句编写能力；
6、了解缓存技术，可以熟练使用Memcache，Redis等；
7、熟悉公开平台的接入（如：淘宝开放平台，支付宝开放平台，微信公众开放平台）；
8、具有较强的团队意识、良好的沟通能力和学习能力，以及快速解决问题的能力；
9、具备良好的代码编写习惯。</pre></div>
            </li>
            <li>
                <div class="dt">5.前端工程师<a ng-click="show123(4)"><span class="down">></span></a></div>
                <div class="dd" style="display: none"><pre>岗位职责：
1、负责项目的前端页面（JS、DIV+CSS）开发工作；
2、与产品经理、设计师、后端工程师紧密工作在一起，负责公司各产品易用性改进、界面技术优化和网站性能优化；
3、项目前沿技术研究和新技术调研；

岗位要求：
1、本科以及本科以上学历，拥有3年以上的开发经验，精通HTML、CSS，良好的HTML代码布局；
2、有一定Javascript开发能力，能熟练使用jQuery；
3、爱好互联网，喜欢学习新技能新知识；
4、学历不限、性别、工作一年以上经验不限，互联网靠能力吃饭。</pre></div>
            </li>
            <li>
                <div class="dt">6.安卓开发（Android）工程师<a ng-click="show123(5)"><span class="down">></span></a></div>
                <div class="dd" style="display: none"><pre>岗位职责
1、根据需求在Android移动端进行的APP的设计与开发；
2、参与项目产品的设计、分析、开发以及维护；
3、参与移动端的接口开发，架构设计；
4、独立完成开发工作，进行模块测试，保证代码的质量；
5、将学习和研究到新的移动互联网技术应用到产品中进行创新。

岗位要求：
1、本科以及本科以上学历，至少3年以上的Ａｎｄｒｏｉｄ商业项目开发经验，具有移动互联网应用经验者优先，具有食品药品追溯领域工作背景经验优先；
2、熟悉J2EE体系结构和JVM处理机制，熟悉Android系统框架、Frameword、Android SDK/NDK以及底层库；
3、熟悉Android下网络通讯机制，包括对Socke通信、TCP/IP和http＂/httpｓ等：
了解Aindroid WEB（html5）应用开发机制以及诸如Cordove等开源JS框架有React Native或者Weex开发经验优先考虑；
5、个性乐观开朗，逻辑思维能力强，善于沟通，较强的团队合作精神。</pre></div>
            </li>
            <li>
                <div class="dt">7.苹果开发（IOS）工程师<a ng-click="show123(6)"><span class="down">></span></a></div>
                <div class="dd" style="display: none"><pre>岗位职责：
1、负责IOS APP项目的架构设计、开发方案、移植及扩展的制定；
3、负责IOS平台，手机，平板，等智能终端领域的应用开发和研究，以及应用平台的相关技术支持；
4、独立完成IOS平台软件开发、验证和修正测试中发现的问题；会写规范化编写设计开发及实现文档；
6、根据产品功能需求设计并完成软件实现；
7、能按需求独立完成，初步的需求分析，配合美工完成UI的设计，独立完成IOS端的开发，能按开发计划按时完成开发任务，具备简单的APP测试能力能配合完成部门内的例行性工作。

岗位要求：
1、本科以及本科以上学历，从事APP开发3年以上工作经验；
2、精通object-c;熟练使用iPhone SDK和XCode；精通Linux体系编程.熟悉操作系统底层机制； 具备良好的英文能力；
3、精通IOS开发平台及框架原理,熟悉C/C++编程 ，并有1年以上IOS app手机终端应用程序开发工作经验,能独立进行IOS应用程序开发;
4、熟练掌握object-c代码优先技巧,和一些简简单的算法，跨平台兼容性,熟练使用多种常用设计模式;
5、具备优秀的独立工作及解决问题的能力。并具备一定的测试方法和技巧；
6、与项目相关人员配合共同完成手机应用软件的开发设计工作;
7、 遵循软件开发流程,独立的进行应用及人机界面软件模块的设计和实现,手机应用软件开发环境的设计、实现和维护.</pre></div>
            </li>
            <li>
                <div class="dt">8.JAVA工程师<a ng-click="show123(7)"><span class="down">></span></a></div>
                <div class="dd" style="display: none"><pre>岗位职责：
1、参与项目系统设计，完成软件项目的程序开发工作；
2、负责产品需求分析、设计和文档编写；
3、根据产品需求和设计进行软件开发；
4、根据市场需求提供售前支持；
5、完成直接上级交办的其他工作任务。
 
岗位要求：
1、本科以及本科以上学历，拥有3年以上的开发经验熟悉JAVA、JSP、Servlet、JavaScript、XML、JDBC等J2EE相关编程技术，熟练使用Eclipse等开发工具、开发过程中Ant、VSS等辅助工具；
2、熟练使用Spring、Struts、Hibernate三大框架编程，精通SQL语言，具备mvc实践经验和 Oracle、SqlServer 、MySQL 等大型数据库开发经验；
3、具备良好的沟通能力、协调能力和问题解决能力；
4、具备较强的需求分析和系统设计能力，良好文档编写能力、英语基础和读写能力；
5、有B2B、B2C网站开发经验者优先。</pre></div>
            </li>
            <li>
                <div class="dt">9.项目经理<a ng-click="show123(8)"><span class="down">></span></a></div>
                <div class="dd" style="display: none"><pre>岗位职责： 
1、负责收集需求、定义项目范围，制定需求文档 
2、根据业务需求制定客户端开发的总体框架 
3、负责相关开发文档的编写、控制工作 
4、制定项目计划，监督并跟踪项目执行情况 
5、负责团队人员梯队建设 

岗位要求： 
1、本科以及本科以上学历，拥有3年以上项目监督经验 ，从事软件开发5年以上经验 ；
2、熟悉C++、Java语言 ；
3、统招本科及以上学历 ；
4、做事积极主动，并可以承受较强的工作压力；</pre></div>
            </li>
            <li>
                <div class="dt">10.业务人员<a ng-click="show123(9)"><span class="down">></span></a></div>
                <div class="dd" style="display: none"><pre>岗位职责：
1、本科以及本科以上的学历，拥有3年以上的软件开发方面的业务经验
2、认真贯彻执行公司销售管理规定和实施细则，努力提高自身业务水平。
3、积极完成规定或承诺的销售量指标，为客户提供主动、热情、满意、周到的服务，并配合销售代表(番禺销售代表)的工作;
4、办理各项业务工作,要做到:积极联系，事前请示、事后汇报,忠于职守、廉洁奉公;
5、负责与客户签订销售合同，督促合同正常如期履行，并催讨所欠应收销售款项。
6、对客户在销售和使用过程中出现的问题、须办理的手续，帮助或联系有关部门或单位妥善解决。

岗位要求：
1、收集一线营销信息和用户意见，对公司营销策略、广告、售后服务、产品改进新产品开发等提出参考意见。
2、填写有关销售表格，提交销售分析和总结报告。
3、做到以公司利益为重，不索取回扣，馈赠钱物上交公司，遵守国家法律，不构成经济犯罪。
4、对各项业务负责到底,对应收的款项和商品,按照合同的规定追踪和催收,出现问题及时汇报、请示并处理;
5、积极发展新客户,与客户保持良好的关系和持久的联系,不断开拓业务渠道;
6、出差时应节俭交通、住宿、业务请客等各种费用,不得奢侈浪费. 完成营销部长临时交办的其他任务。</pre></div>
            </li>
        </ul>
    </div>
</div>

